doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", type="image/x-icon", href="../src/client/public/img/Bonify.ico")
    title Bonify
  body
    #app
    script(type="text/javascript", src="./bundle.js")
